<div class="container aligner photo-add" rpc-controller="photoUploadCtrl" rpc-channel="photosInterface">
	<button class="btn btn-lg btn-success" ng-click="saveToBackend(imageBase)" file-input on-file="saveToBackend">Pick from the phone</button>

	<!--<img ng-if="photo" class="photo" data-ng-src="{{photo}}"/>-->
	<ng-camera ng-hide="result"
			type="photo"
			enabled="true"
			width="100%"
			capture-width="1024"
			capture-height="768"
			countdown="countdown"
			ng-model="photo"
			accept-callback="saveToBackend(photo)"
			overlay-src="photo"
			capture-message="Smile!"></ng-camera>
	<div class="update-result" ng-show="result">
		<div class="alert alert-success">Your picture was saved, thank you for sharing!</div>
	</div>

</div>