<div class="container aligner main-menu" ng-controller="rootCtrl">

    <button class="btn btn-lg btn-info" ng-show="!user" ng-click="loginToFB()">Login with Facebook</button>

    <div class="user-profile" ng-show="user">
        <fb-user-picture type="square" id="user.id"></fb-user-picture> <h3 class="fb-name">{{ user.name }}</h3>
    </div>

    <div ng-repeat="row in menuItems" class="menuAnim">
        <div class="row">
            <div ng-repeat="link in row" class="menu-item">
                <a ng-href="{{ link.url }}">
                    <img class="menu-icon" ng-src="{{ '/img/buttons/' + link.img + '.png' }}" alt="">
                </a>
            </div>
        </div>
    </div>



</div>
