@import "videochat";
.photo-add{
	flex-direction: column;
	img{
		width: 100%;
	}
	padding: 0px;
	ng-camera{
		width: 100%;
		video{
			max-height: 650px;
		}
	}
	.ng-camera-take-btn{
		display: none;
	}
	.photo-actions{
		align-self: stretch;
		.row{
			width: 100%;
			display: flex;
			justify-content: space-between;
			div{
				height: 99px;
				width: 92px;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
			}
		}
		.camera-icon{
			background-image: url("/img/icons/camera.png");
			margin: 0px 116px;
			width: 120px !important;
		}
		.trash{
			background-image: url("/img/icons/trash.png");
		}
		.countdown-enabler{
			background-image: url("/img/icons/clock.png");
		}
	}
}
.currentPhoto{
	width: 90%;
}
.main-menu{
	flex-direction: column;
	.btn-info{
		margin: 15px;
	}
	.user-profile{
		margin-top: 62px;
		display: flex;
	}
	.fb-profile-pic{
		max-height: 70px;
		border-radius: 7px;
		margin-right: 15px;
	}
	.fb-name{
		color: white;
	}
}

.menu-icon{
	height: 102px;
	margin: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.menu-item{
	display: inline-block;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menuAnim-enter,
.menuAnim-leave,
.menuAnim-move {
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;
	position:relative;
}

.menuAnim-enter {
	left:-10px;
	opacity:0;
}
.menuAnim-enter.menuAnim-enter-active {
	left:0;
	opacity:1;
}

.menuAnim-leave {
	left:0;
	opacity:1;
}
.menuAnim-leave.menuAnim-leave-active {
	left:-10px;
	opacity:0;
}

.menuAnim-move {
	opacity:0.5;
}
.menuAnim-move.menuAnim-move-active {
	opacity:1;
}