@import "videochat";
.photo-rate{
	flex-direction: column;
}
.currentPhoto{
	width: 90%;
}
.main-menu{
	flex-direction: column;
	.btn-info{
		margin: 15px;
	}
	.user-profile{
		margin-bottom: 25px;
		display: flex;
	}
	.fb-profile-pic{
		max-height: 70px;
		border-radius: 7px;
		margin-right: 15px;
	}
}

.menu-icon{
	height: 102px;
	margin: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.menu-item{
	display: inline-block;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menuAnim-enter,
.menuAnim-leave,
.menuAnim-move {
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-o-transition: 1s linear all;
	transition: 1s linear all;
	position:relative;
}

.menuAnim-enter {
	left:-10px;
	opacity:0;
}
.menuAnim-enter.menuAnim-enter-active {
	left:0;
	opacity:1;
}

.menuAnim-leave {
	left:0;
	opacity:1;
}
.menuAnim-leave.menuAnim-leave-active {
	left:-10px;
	opacity:0;
}

.menuAnim-move {
	opacity:0.5;
}
.menuAnim-move.menuAnim-move-active {
	opacity:1;
}